.commonSettingsHeaderFooter {
  font-size: 25px;
  background-color: #ff7f00;
  border: 1px solid #8aac07;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.formStyle {
  border: 0px solid black;
  border-collapse: collapse;
  padding: 5px;
}
