/*
#register input, #login input
{
	padding:5px;
	width:200px;
}

*/
/* Dit is de dezelfde manier van uitcommentarieren als bij PHP
 * Je kunt ook de // gebruiken voor een regel uitcommentarieren
 *
 */
.commonSettingsHeaderFooter {
  font-size: 25px;
  background-color: #ff7f00;
  border: 1px solid #8aac07;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.formStyle {
  border: 0px solid black;
  border-collapse: collapse;
  padding: 5px;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Verdana, Arial;
  font-size: 14px;
}
#container {
  border: 0px solid green;
  width: 80%;
  margin: 20px auto;
  background-color: #ffffff;
}
#banner {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  font-size: 25px;
  background-color: #ff7f00;
  border: 1px solid #8aac07;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
#footer {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  font-size: 25px;
  background-color: #ff7f00;
  border: 1px solid #8aac07;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
#content {
  background-color: #f5f5f5;
  border: 1px solid #8ac007;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  color: #181818;
  padding: 2em;
  margin: 15px 0px;
}
#link {
  border: 1px solid #8ac007;
  padding: 6px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
  background-color: #f5f5f5;
}
#user_img {
  float: right;
}
#register,
#login {
  border: 0px solid yellow;
  width: 360px;
  margin: 0px auto;
}
#register table,
#register td {
  border: 0px solid black;
  border-collapse: collapse;
  padding: 5px;
}
#register input {
  padding: 5px;
  width: 200px;
}
#login table,
#login td {
  border: 0px solid black;
  border-collapse: collapse;
  padding: 5px;
}
#login input {
  padding: 5px;
  width: 200px;
}
/*
#register input, #login input
{
	padding:5px;
	width:200px;
}

*/
#register input[type=submit],
#login input[type=submit] {
  width: 214px;
}
a {
  text-decoration: none;
  color: orange;
}
#userrole_link a {
  text-decoration: none;
  color: #edf5f5;
}
/*
#clearBoth
{
	background-color: rgba(200, 200, 200, 1);
	height:20px;
	width:20%;
	clear:both;
	float:left;
}*/
div#end #div_1 {
  background-color: yellow;
  float: left;
  width: 20%;
  height: 600px;
}
div#end #div_2 {
  background-color: green;
  float: left;
  width: 72%;
  height: 400px;
}
div#end #div_3 {
  background-color: blue;
  float: left;
  clear: left;
  width: 50%;
}
div#end #div_4 {
  background-color: pink;
  float: left;
  width: 15%;
}
div#end #div_5 {
  background-color: purple;
  float: left;
  width: 23%;
}
div#end #div_6 {
  background-color: green;
  float: left;
  clear: left;
}
div#end #div_7 {
  background-color: cyan;
  float: left;
}
div#end #div_8 {
  background-color: beige;
  float: left;
}
div#end #div_9 {
  background-color: orange;
  float: left;
}
div#end #div_10 {
  background-color: yellow;
  float: left;
}
div#end #div_11 {
  background-color: green;
  float: left;
}
div#end #div_12 {
  background-color: blue;
  float: left;
}
div#end #div_13 {
  background-color: pink;
  float: left;
}
div#end #div_14 {
  background-color: purple;
  float: left;
}
div#end #div_15 {
  background-color: green;
  float: left;
}
div#end #div_16 {
  background-color: cyan;
  float: left;
}
div#end #div_17 {
  background-color: beige;
  float: left;
}
div#end #div_18 {
  background-color: orange;
  float: left;
}
div#end #end {
  overflow: hidden;
}
#dev-home-container {
  border: 0px solid black;
  overflow: hidden;
}
#dev-home-container nav {
  background-color: #e1e1e1;
  border-radius: 6px;
  padding: 2%;
  margin: 0.5%;
  padding-bottom: 1000em;
  margin-bottom: -998em;
}
#dev-home-container nav {
  float: left;
  width: 20%;
  color: black;
}
#dev-home-container section {
  float: right;
  width: 70%;
  border: 0px solid red;
  min-height: 300px;
}
#dev-home-container a {
  color: #767676;
  display: block;
  text-align: right;
  padding: 0.3em;
}
#btn_1,
#btn_2,
.btn_3,
.btn_4,
.btn_5 {
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: rgba(10, 10, 10, 0.5);
  width: 200px;
  float: left;
}
.btn_3 {
  clear: left;
}
.btn_5 {
  width: 100px;
}
#nr {
  background-color: #e1e1e1;
  width: 60px;
  float: left;
}
[id^="btn_animate"] {
  padding: 0.5em;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 0.3em;
  margin-top: 2em;
}
#table {
  border-collapse: collapse;
}
#table th,
#table td {
  border: 2px solid grey;
  padding: 1em;
}
.even {
  background-color: #a7e082;
  color: white;
}
.odd {
  background-color: #65c1cd;
  color: white;
}
.tblHeader {
  background-color: #717475;
  color: white;
}
.button {
  width: 200px;
  color: white;
  margin: 0.5em;
  border-radius: 15px;
  padding: 0.5em;
  font-size: 1.2em;
  outline: 0;
  font-weight: bold;
}
.trHover {
  background-color: #ffb600;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}
.trToggle {
  color: yellow;
  font-weight: bold;
  font-size: 1.3em;
}
.parCSSClass {
  background-color: #dcc8c8;
}
#lessExample {
  border: 15px solid #994c00;
  border-radius: 0.5em;
  background-color: #ff7f00;
  color: #ffe5cc;
  padding: 0.5em;
  font-size: 2em;
  width: 60%;
  margin-top: 1.5em;
}
#nestedRule a {
  text-align: left;
}
#nestedRule li {
  text-align: left;
}
#nestedRule a {
  text-align: left;
  text-decoration: none;
}
#nestedRule a:hover {
  color: red;
}
#nestedRule li {
  list-style-type: none;
}
#nestedRule li:last-child {
  background-color: yellow;
}
#patMatch {
  background-color: #e8e8e8;
  color: #292929;
  border-style: solid;
  border-width: 5px;
  border-color: #65c1cd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1em;
  margin: 1em 1em 1em 0em;
}
/*
// Guarded Mixin
.guardedMixin(@backgroundGuardedMixinColor) when (lightness(@backgroundGuardedMixinColor) < 80%)
{
	background-color: lighten(@backgroundGuardedMixinColor, 20%);
	color: lighten(@siteGreyColor, 20%);
}
.guardedMixin(@backgroundGuardedMixinColor) when (lightness(@backgroundGuardedMixinColor) >= 80%)
{
	background-color: darken(@backgroundGuardedMixinColor, 10%);
	color: lighten(@siteGreyColor, 80%);
}
.guardedMixin(@_)
{
	border: 3px solid darken(@siteGreyColor, 80%);
	border-radius: 0.5em;
	margin: 1em 1em 1em 0em;
	padding: 1em;
	//color: darken(@siteGreyColor, 80%);
}

#guardedMixin
{
	.guardedMixin(@footBanBackgroundColor + #111);
}
*/
#guardedMixin {
  background-color: #ffc37f;
  color: #ffffff;
  font-size: 3em;
  border: 3px solid #292929;
  border-radius: 0.5em;
  margin: 1em 1em 1em 0em;
  padding: 1em;
}
#hslDef {
  background-color: #ff8000;
  border-style: solid;
  border-width: 10px;
  border-color: #cc6600;
  border-radius: replace("1px", "px", get-unit(24em));
  padding: 2em;
  margin: 1em 1em 1em 0em;
  color: #b3b3b3;
  font-size: 1.3em;
}
