*
{
	margin:0px;
	padding:0px;
}

body
{
	font-family:Verdana, Arial;
}


#container
{
	border:0px solid green;
	width:60%;
	//margin-top:300px;
	//margin-left:100px;
	margin:20px auto;
	background-color: RGB(255,255,255);
}

#banner, #footer
{
	font-size:25px;
	background-color:RGB(138,192,7);
	color:white;
	text-align:center;
	padding:10px;
	font-weight:bold;
	
}

#banner
{
	border:0px solid green;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
}

#content
{
	background-color: RGB(245,245,245);
	border:1px solid RGB(138, 192, 7);
	color:RGB(24, 24, 24);
	padding:20px;
	margin:20px 0px;
}

#footer
{
	border:0px solid yellow;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
